google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
google-api-python-client==2.17.0
gspread==4.0.1
python-dotenv==0.19.1
psycopg2-binary==2.9.1
requests==2.27.1
telegram==0.0.1
